{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block body %}
    <!-- Menu Sidebar Section Start -->
    <div class="menu-sidebar-area">
        <div class="menu-sidebar-wrapper">
            <div class="menu-sidebar-close">
                <button class="menu-sidebar-close-btn" id="menu_sidebar_close_btn">
                    <i class="fal fa-times"></i>
                </button>
            </div>
            <div class="menu-sidebar-content">
                <div class="menu-sidebar-logo">
                    <a href="{% url 'main_home_view' %}"><img src="{% static 'images/logo/Frame.svg' %}" alt="logo"/></a>
                </div>
                <div class="mobile-nav-menu"></div>
                <div class="menu-sidebar-content">
                    <div class="menu-sidebar-single-widget">
                        <h5 class="menu-sidebar-title">Contact Info</h5>
                        <div class="header-contact-info">
                            <span><i class="fa-solid fa-location-dot"></i>20, Bordeshi, New York, US</span>
                            <span><a href="mailto:hello@transico.com"><i class="fa-solid fa-envelope"></i>hello@transico.com</a> </span>
                            <span><a href="tel:+123-456-7890"><i class="fa-solid fa-phone"></i>+123-456-7890</a></span>
                        </div>
                        <div class="social-profile">
                            <a href="https://t.me/MarokandTravel"><i class="fab fa-telegram"></i></a>
                                <a href="https://www.instagram.com/marokandtravel.uz/"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Menu Sidebar Section Start -->
    <div class="body-overlay"></div>

    <!-- Page Header Start !-->
<div class="page-breadcrumb-area page-bg" style="background-image: url('images/breadcrumb/about.jpg')">        <!-- <div class="page-overlay"></div> -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <div class="page-heading">
                            <h3 class="page-title">{% trans 'Looking for joy?' %}</h3>
                        </div>
                        <div class="breadcrumb-list">
                            <ul>
                                <li><a href="{% url 'main_home_view' %}">{% trans 'Home' %}</a></li>
                                <li class="active"><a href="#">{% trans 'About us' %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End !-->

    <!-- About Us Area Start -->
    <div class="about-us-area style-1" style="background-image: url('images/about-us-area/bg-1.png')">
        <img class="shape-1 wow zoomInDown" src="{% static 'images/shape/dots.png' %}" alt="Shape">
        <div class="container">
            <div class="about-us-wrapper">
                <div class="row">
                    <div class="col-xl-5 order-xl-1 order-2 wow fadeInLeft" data-wow-delay=".4s">  
                        <div class="about-us-content-wrapper-1">
                            <div class="section-title">
                                <div class="sec-content">
                                    <span class="short-title">{% trans 'About us' %}</span>
                                    <h2 class="title">{% trans 'We create journeys for the excited traveler' %}</h2>
                                    <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                                </div>
                            </div>
                            <div class="info-card style-1">
                                <div class="icon-wrapper">
                                    <img src="{% static 'images/icon/folding-map.png' %}" alt="Icon">
                                </div>
                                <div class="content">
                                    <h6 class="title">{% trans 'Best of hotel' %}</h6>
                                    <p class="desc">{% trans 'Embark on world-class journeys crafted for the discerning traveler, where luxury meets adventure at the finest hotels and destinations across the globe.' %}</p>
                                </div>
                            </div>
                            <div class="info-card style-1">
                                <div class="icon-wrapper">
                                    <img src="{% static 'images/icon/ticket.png' %}" alt="Icon">
                                </div>
                                <div class="content">
                                    <h6 class="title">{% trans 'World class travel' %}</h6>
                                    <p class="desc">{% trans 'Embark on world-class journeys crafted for the discerning traveler, where luxury meets adventure at the finest hotels and destinations across the globe.' %}</p>
                                </div>
                            </div>
                            <div class="meta-wrapper">
                                <a href="{% url 'main_about' %}" class="theme-btn">{% trans 'Learn more' %}</a>
                                <div class="meta-user">
                                    <a href="#" class="image-inner" style="width: 56px; height: 56px;">
                                        <img src="{% static 'images/icon/user-1.png' %}" alt="User">
                                    </a>
                                    <a href="#" class="image-inner" style="width: 56px; height: 56px;">
                                        <img src="{% static 'images/icon/user-2.png' %}" alt="User">
                                    </a>
                                    <a href="#" class="image-inner" style="width: 56px; height: 56px;">
                                        <img src="{% static 'images/icon/user-3.png' %}" alt="User">
                                    </a>
                                    <a href="#" class="image-inner">
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                </div>
                                <div class="counter-wrapper">
                                    <h6 class="counter-inner"><span class="counter">500</span>+</h6>
                                    <span class="customers">{% trans 'customers' %}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 order-xl-2 order-1 wow fadeInRight" data-wow-delay=".4s">
                        <div class="about-us-image-wrapper-1">
                            <img class="bg-shape" src="{% static 'images/about-us-area/image-wrapper-bg-1.png' %}" alt="Shape">
                            <div class="image-wrapper style-1" style="width: 290px; height: 290px;">
                                <img src="{% static 'images/about-us-area/img-1.jpg' %}" alt=" Vacation Image">
                            </div>
                            <div class="image-wrapper style-2" style="width: 200px; height: 200px;">
                                <img src="{% static 'images/about-us-area/img-2.jpg' %}" alt=" Vacation Image">
                            </div>
                            <div class="image-wrapper style-3" style="width: 350px; height: 350px;">
                                <img src="{% static 'images/about-us-area/img-3.jpg' %}" alt=" Vacation Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Area Start -->

    <!-- Process Step Area Start  -->
    <div class="process-step-area style-1">
        <div class="container">
            <img class="bg-shape" src="{% static 'images/shape/elements.png' %}" alt="Shape">
            <div class="section-title justify-content-center text-center">
                <div class="sec-content">
                    <span class="short-title">{% trans 'Our process' %}</span>
                    <h2 class="title">{% trans 'Revolutionising the ways we travel' %}</h2>
                    <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                </div>
            </div>
            <div class="row gy-4">
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay="0s">
                    <div class="process-card style-1">
                        <div class="img-wrapper wow">
                            <img src="{% static 'images/process-step-area/image-1.png' %}" alt="Shape">
                        </div>
                        <div class="content-wrapper">
                            <h4 class="title">{% trans 'Book & relax' %}</h4>
                            <p class="desc">{% trans 'Book your dream getaway and relax while we take care of the rest.' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay=".4s">
                    <div class="process-card style-1">
                        <div class="img-wrapper">
                            <img src="{% static 'images/process-step-area/image-2.png' %}" alt="Shape">
                        </div>
                        <div class="content-wrapper">
                            <h4 class="title">{% trans 'Smart checklist' %}</h4>
                            <p class="desc">{% trans 'Stay organized and on track with our Smart Checklist, designed to streamline your tasks and ensure nothing gets overlooked.' %}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow fadeInUp" data-wow-delay=".8s">
                    <div class="process-card style-1 ">
                        <div class="img-wrapper">
                            <img src="{% static 'images/process-step-area/image-3.png' %}" alt="Shape">
                        </div>
                        <div class="content-wrapper">
                            <h4 class="title">{% trans 'Save more' %}</h4>
                            <p class="desc">{% trans 'Save more on your next adventure with unbeatable deals that let you explore the world without breaking the bank.' %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Process Step Area End  -->

    <!-- Video Modal Area  Start -->
    <div class="video-modal-area style-1">
        <div class="container">
            <div class="section-title">
                <div class="sec-content wow fadeInLeft" data-wow-delay="0s">
                    <span class="short-title">{% trans 'Destination' %}</span>
                    <h2 class="title">{% trans 'Experience the new adventure with us' %}</h2>
                    <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
                </div>
                <div class="btn-sec-inner wow fadeInRight" data-wow-delay=".2s">
                    <div class="sec-desc">
                        <p class="desc">{% trans "Experience a new adventure with us and uncover the world's hidden wonders like never before." %}</p>
                    </div>
                    <div class="sec-btn">
                        <a href="#" class="theme-btn">{% trans 'Discover more' %}</a>
                    </div>
                </div>
            </div>
            <div class="video-modal-card style-1 wow fadeInUp" data-wow-delay=".4s">
                <div class="image-wrapper" style="text-align: center; width: 1100px; border: 2px solid #e5e5e5; border-radius: 30px; background-color: #fff;">
                    <img src="{% static 'images/video-modal/bg-2.jpg' %}" alt="Video Modal">
                </div>
                <div class="popup-video-wrapper">
                    <div class="video-btn">
                        <a href="https://www.youtube.com/watch?v=linlz7-Pnvw" class="mfp-iframe video-play">
                            <i class="icon-play-button" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="counter-area">
                <div class="single-counter wow fadeInRight" data-wow-delay="0s">
                    <p class="counter-inner"><span class="counter">50</span>+</p>
                    <p class="title">{% trans 'New users per week' %}</p>
                </div>
                <div class="single-counter wow fadeInRight" data-wow-delay=".4s">
                    <p class="counter-inner"><span class="counter">100</span>+</p>
                    <p class="title">{% trans 'Monthly active user' %}</p>
                </div>
                <div class="single-counter wow fadeInRight" data-wow-delay=".8s">
                    <p class="counter-inner"><span class="counter">50</span>+</p>
                    <p class="title">{% trans 'New users per week' %}</p>
                </div>
                <div class="single-counter wow fadeInRight" data-wow-delay=".9s">
                    <p class="counter-inner"><span class="counter">100</span>+</p>
                    <p class="title">{% trans 'Monthly active user' %}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal Area  End -->

<!-- location Image Card Area Start -->
<div class="location-area style-2 bg-white">
    <div class="container">
        <div class="section-title align-content-center justify-content-center text-center">
            <div class="sec-content">
                <h2 class="title">{% trans 'Our amazing team' %}</h2>
                <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
            </div>
        </div>
        <div class="location-card-wrapper">
            <div class="row gy-4">
                {% for member in team_members %}
                <!-- Single Card Start -->
                <div class="col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="{{ forloop.counter0|add:'0.4' }}s">
                    <div class="location-image-card style-2" style="text-align: center; padding: 30px; border: 2px solid #e5e5e5; border-radius: 20px; background-color: #fff;">
                        <div class="img-wrapper" style="display: flex; justify-content: center; align-items: center; margin-bottom: 15px;">
                            <img src="{{ member.image.url }}" alt="{{ member.name }}" style="width: 200px; height: 200px; border-radius: 50%; object-fit: cover;">
                        </div>
                        <div class="content-inner" style="text-align: center;">
                            <h6 class="city" style="margin: 5px 0;">{{ member.name }}</h6>
                            <p class="duration" style="margin: 5px 0;">{{ member.position }}</p>
                        </div>
                    </div>
                </div>
                <!-- Single Card End -->
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- location Image Card Area End -->

    {% if request.user.is_authenticated %}    
    <div class="container" style="text-align: center; max-width: 600px; margin: 0 auto; padding: 30px; border: none; border-radius: 25px; background: #2B4D8D;">
        <h1 style="margin-bottom: 20px; font-size: 28px; color: #ffffff;">{% trans 'Leave a Testimonial' %}</h1>
        <div class="rating" style="font-size: 22px; margin-bottom: 15px; color: #003366;">
            <span id="rating">0</span>/5
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="stars" id="stars" style="font-size: 36px; color: #ff5722; margin-bottom: 20px;"  required>
                <span class="star" data-value="1" style="cursor: pointer;">&#9733;</span>
                <span class="star" data-value="2" style="cursor: pointer;">&#9733;</span>
                <span class="star" data-value="3" style="cursor: pointer;">&#9733;</span>
                <span class="star" data-value="4" style="cursor: pointer;">&#9733;</span>
                <span class="star" data-value="5" style="cursor: pointer;">&#9733;</span>
            </div>
            <input type="hidden" id="id_stars" name="stars" value="0">
            <p style="margin-bottom: 10px; font-weight: bold; color: #ffffff; font-size: 18px;">Share your review:</p>
            <textarea id="id_text" name="text" placeholder="Write your review here" rows="6" class="form-control" style="width: 100%; padding: 15px; border: none; border-radius: 10px; margin-bottom: 20px; font-size: 18px; background-color: #ffffff; color: #003366;"></textarea>
            <button id="submit" type="submit" class="btn btn-primary" style="padding: 12px 40px; border: 4px double black; border-radius: 25px; background-color: #ffffff; color: #003366; font-size: 19px; text-transform: capitalize; box-shadow: 0px 4px 6px rgba(0,0,0,0.1);">Submit</button>
        </form>
            <!-- User reviews will be displayed here -->
        </div>
    </div>
        
    <script>
        document.querySelectorAll('.stars .star').forEach((star) => {
            star.addEventListener('click', function() {
                const rating = this.getAttribute('data-value');
                document.getElementById('rating').textContent = rating;
                document.getElementById('id_stars').value = rating;
                document.querySelectorAll('.stars .star').forEach((s, index) => {
                    if (index < rating) {
                        s.style.color = '#ff5722';
                    } else {
                        s.style.color = '#ccc';
                    }
                });
            });
        });
    </script>
    {% endif %}
<!-- Testimonial Slider Area Start -->
<div class="testimonial-slider-area style-2 background-light-gray">
    <div class="container">
        <div class="section-title">
            <div class="sec-content">
                <span class="short-title">{% trans 'Testimonial' %}</span>
                <h2 class="title">{% trans 'What traveler says' %}</h2>
                <img class="bottom-shape" src="{% static 'images/shape/bottom-bar.png' %}" alt="Bottom Shape">
            </div>
        </div>
    </div>
    <div class="testimonial-marquee-wrapper style-2">
        <div class="brand-marquee-wrapper first-marquee-wrapper">
            {% for testimonial in testimonials %}
            <!-- Single Card Start -->
            <div class="testimonial-card-two" style="width: 490 px; height: 220px; border: 5px solid #ddd; padding: 15px; margin: 10px; background: #fff; box-shadow: 0 2px 5px rgba(0,0,0,0.1); box-sizing: border-box;">
                <div class="user-meta-info" style="display: flex; align-items: center; margin-bottom: 10px;">
                    <div class="user-info-inner" style="display: flex; align-items: center;">
                        <div class="img-wrapper" style="margin-right: 10px;">
                            <img src="{% static 'images/icon/user-3.png' %}" alt="User" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
                        </div>
                        <div class="content">
                            <h5 class="user-name" style="margin: 0; font-size: 16px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ testimonial.user.username }}</h5>
                        </div>
                    </div>
                    <div class="rating" style="margin-left: auto;">
                        <div class="ratting-inner" style="display: flex;">
                            <span>
                                {% if testimonial.stars == 0 %}
                                    <i class="fa-solid fa-star" style="color: #FFD700; font-size: 16px; margin-right: 2px;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD700; font-size: 16px; margin-right: 2px;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD700; font-size: 16px; margin-right: 2px;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD700; font-size: 16px; margin-right: 2px;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD700; font-size: 16px; margin-right: 2px;"></i>
                                {% elif testimonial.stars == 1 %}
                                    <i class="fa-solid fa-star" style="color: #FFD700; font-size: 16px; margin-right: 2px;"></i>
                                {% elif testimonial.stars == 2 %}
                                    <i class="fa-solid fa-star" style="color: #FFD700; font-size: 16px; margin-right: 2px;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD700; font-size: 16px; margin-right: 2px;"></i>
                                {% elif testimonial.stars == 3 %}
                                    <i class="fa-solid fa-star" style="color: #FFD700; font-size: 16px; margin-right: 2px;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD700; font-size: 16px; margin-right: 2px;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD700; font-size: 16px; margin-right: 2px;"></i>
                                {% elif testimonial.stars == 4 %}
                                    <i class="fa-solid fa-star" style="color: #FFD700; font-size: 16px; margin-right: 2px;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD700; font-size: 16px; margin-right: 2px;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD700; font-size: 16px; margin-right: 2px;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD700; font-size: 16px; margin-right: 2px;"></i>
                                {% else %}
                                    <i class="fa-solid fa-star" style="color: #FFD700; font-size: 16px; margin-right: 2px;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD700; font-size: 16px; margin-right: 2px;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD700; font-size: 16px; margin-right: 2px;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD700; font-size: 16px; margin-right: 2px;"></i>
                                    <i class="fa-solid fa-star" style="color: #FFD700; font-size: 16px; margin-right: 2px;"></i>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="desc-inner" style="max-height: 60px; overflow: hidden; text-overflow: ellipsis;">
                    <p class="desc" style="margin: 0; font-size: 14px; line-height: 1.5;">{{ testimonial.text }}</p>
                </div>
            </div>
            <!-- Single Card End -->
            {% endfor %}
        </div>
    </div>
    
    </div>
</div>
<!-- Testimonial Slider Area End -->

    {% endblock body %}